table.sites {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: #E6E6E6;
	border-collapse: collapse;
	background-color: white;
}
table.sites th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: #E6E6E6;
	background-color: white;
	-moz-border-radius: ;
}
table.sites td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: #E6E6E6;
	background-color: white;
	-moz-border-radius: ;
}
